*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body{
    background-color: hsl(0, 0%, 8%);
    color: hsl(0, 0%, 100%);
}

.avatar{
    height: 100px;
    border-radius: 50px;
}

.name{

}

.local{

}

.phrase{

}

p.phrase{
    color: hsl(75, 94%, 57%);
    font-size: 14px;
}


ul{
    list-style: none;
}



a{
    text-decoration: none;
    color: hsl(0, 0%, 100%);
}

.container{
    background-color: hsl(0, 0%, 12%);
    border-radius: 15px;
    height: 500px;
}

.bottons-links{
    height: 20px;
    background-color: hsl(0, 0%, 20%) ;
    border-radius: 6px;
}

.bottons-links:hover{
    background-color: hsl(75, 94%, 57%);
}

.links{
    height: 20px;
}